.container#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 100vh;
}

input {
    margin: 10px;
}

input#verde {
    color: #fff;
    background-color: rgb(32, 165, 32);
    border: none
}
input#amarelo {
    color: #000;
    background-color: rgb(230, 230, 38);
    border: none
}
input#roxo {
    color: #fff;
    background-color: rgb(175, 5, 175);
    border:none
}

h4 {
    color: #111010;
}

